<form method="GET" action="/weather">

    <label for="zipcode">Search your zipcode</label><br/>
    <input name="zipcode" type="text" id="zipcode">
    <button type="submit" value="Update">Submit!</button>

</form>

<form action=""></form>